.men {
    font-family: 'Carter One', cursive;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.menu1 a {
    color: black;
}

a {
    text-decoration: none;
}

.menu2 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    color: black;
    font-size: 20px;
    width: 100%;
    align-items: center;
    background-color: rgb(22, 22, 22);
    max-height:105px;
    position:fixed;
    z-index:999;
}

    .menu2 a {
        color: rgb(255, 255, 255);
        
    }

.container-icono {
    
    height: 120px;
    width: 120px;
    margin-left: 150px;
    background: url(../ArchivosLectura/imagenes-index/logo-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.menu3 {
    display: grid;
    text-align: center;
    align-self: unset;
    align-items: center;
    padding: 2px;
}


.m2 {
  
}

.buscador {
    display: grid;
    margin: auto;
    border-radius: 12px;
    border: solid rgba(201, 197, 201, 0.301);
    align-self: center;
}

    .buscador input {
        align-self: center;
        border: transparent;
        font-size: 15px;
        outline: none;
    }

body > nav > div.menu3 > div > p > input.buscar {
    background-color: rgba(105, 105, 105, 0.055);
    border-radius: 15px;
}





.perfiles {
    background-image: url(../img/portt1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 12px;
    display: grid;
    width: 80%;
    height: auto;
    text-align: center;
    align-items: center;
    justify-self: center;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    margin: auto;
    box-shadow: 10px 10px 10px 10px rgb(0, 0, 0);
}


.perfil img {
    display: grid;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: solid rgba(7, 7, 7, 0.644);
    margin: auto;
}




.portada {
    display: grid;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 80%;
    height: 350px;
    padding: 30px;
}

    .portada img {
        width: 100%;
        height: 500px
    }


.obb {
    margin-top: 10%;
}






.rowProducts {
    width: 100%;
    background-color: rgba(212, 212, 212, 0.185);
    text-align: center;
    margin: auto;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    border-radius: 12px;
}

.row article {
    margin-top: 15%;
}


div.row {
    display: grid;
     grid-template-columns: repeat(3,1fr);
    grid-template-columns: repeat(auto-fill, minmax(15rem, 3fr));
    margin: auto;
    align-items: center;
    grid-row-gap: 1px;
    justify-self: center;
    align-items: center;
    background-image: url(../ArchivosLectura/imagenes-index/salpica3.jpg);
}

div.row3 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-columns: repeat(auto-fill, minmax(15rem, 3fr));
    background-image: url(../ArchivosLectura/imagenes-index/moderno.jpg);
}

.row2 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-columns: repeat(auto-fill, minmax(18rem, 3fr));
    margin: auto;
    align-items: center;
    grid-row-gap: 50px;
    justify-self: center;
    align-items: center;
    background-image: url(../ArchivosLectura/imagenes-index/salpica2.jpg);
    padding:30px;
    
}



div.container > div.rowProducts > div > article > figure > img {
    height: 250px;
    width: 250px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 10px rgb(168, 168, 168);
    object-fit: cover;
}







port2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    text-align: center;
    align-items: center;
    margin: auto;
    column-gap: 60px;
    box-shadow: 10px 10px 10px 10px rgb(0, 0, 0);
}

.imgp2 img {
    width: 100%;
}



.descportada2 {
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
}

.container {
    display: grid;
    padding: 20px;
    margin-bottom: 20%;
}

.contt {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(80%,25rem)));
    text-align: center;
    align-items: center;
    width: 100%;
}


body > div.menu2 > div:nth-child(3) {
    margin-right: 15%;
}


.titulocate {
    font-size: 10vh;
    color: black;
    font-family: 'Martel', serif;
}

.subCate {
    color: rgb(58, 61, 61);
    font-family: 'Martel', serif;
}


.producto p, span {
    font-size: 25px;
}

span {
    color: rgba(7, 7, 7, 0.644);
}

button {
    border: none;
    font-size: 20px;
}




footer {
    width: 100%;
}




.descfoot {
    background-color: rgba(41, 80, 58, 0.74);
    font-family: 'Prompt', sans-serif;
    border: solid rgba(173, 173, 173, 0.795);
    align-self: center;
}

.descf {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
    width: 45%;
    align-self: center;
    margin: auto;
}









.sobre a {
    text-decoration: none;
    color: black;
}

.tittle {
    font-size: 20px;
}

.sobren {
    display: grid;
    justify-self: center;
}

.grid-info {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 1em;
    column-gap: 1em;
    grid-auto-rows: minmax(500px,auto);
    background: rgba(0, 0, 0, 0.7) url(../ArchivosLectura/imagenes-index/fondo-info.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    color: white;
}

.item-info-uno {
    height: 200px;
    
}

.item-info-dos {
    margin: 50px;
    
}

.titulo-info {
    text-align: center;
    
}

.parrafo-info{
    margin:15px;
   
}
.info-artistas{
   
    margin-bottom:100px;
    height:200px;
    width:100%;
}
.parrafo-info-artistas{
    text-align:center;
}
.btn-expo{
    text-align:center;
}

/*info general*/

.header-info {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background: rgba(0, 0, 0, 0.4) url(../ArchivosLectura/imagenes-index/pastel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}

.container-header-spiritual {
    border-top:solid 3px;
    margin: 50px 50px 50px 50px;
   text-align:center;
}

.container-logo-header {
    
    margin: 25px 50px 25px 500px;
    
}

.container-info-general {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height:500px;
    margin-top:50px;
}

.container-general-uno {
    
    margin-left:20px;
}

.container-general-dos {
    
    margin-left:100px;
}
.body-categorias {
    border: solid 1px;
    height: 2100px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: black;
   
    
    
}
.card-img-pintura {
    border: solid 1px;
    margin:50px;
    background-image: url(../ArchivosLectura/imagenes-index/artes-plasticas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2%;
    filter: drop-shadow(0 2px 10px rgba(41, 80, 58, 0.74));
    max-height:500px;
}

.card-img-lapiz {
    border: solid 1px;
    margin: 50px;
    background-image: url(../ArchivosLectura/imagenes-index/lapiz.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2%;
    filter: drop-shadow(0 2px 10px rgba(41, 80, 58, 0.74));
    max-height: 500px;
}

.card-img-foto {
    border: solid 1px;
    margin: 50px;
    background-image: url(../ArchivosLectura/imagenes-index/fotografia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2%;
    filter: drop-shadow(0 2px 10px rgba(41, 80, 58, 0.74));
    max-height: 500px;
}

.card-img-escultura {
    border: solid 1px;
    margin: 50px;
    background-image: url(../ArchivosLectura/imagenes-index/dragon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2%;
    filter: drop-shadow(0 2px 10px rgba(41, 80, 58, 0.74));
    max-height: 500px;
}

.card-img-moderno {
    border: solid 1px;
    margin: 50px;
    background-image: url(../ArchivosLectura/imagenes-index/chispa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2%;
    filter: drop-shadow(0 2px 10px rgba(41, 80, 58, 0.74));
}
.text-pintura {
    margin-left: 50px;
    margin-right: 150px;
    margin-top: 50px;
    margin-bottom:50px;
    
    max-height: 500px;
}
/*detalle artista*/
.container-detalle-artista {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
/*info negocio*/
.header-info-negocio {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background: rgba(0, 0, 0, 0.4) url(../ArchivosLectura/imagenes-index/images.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}

.container-info-negocio {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 700px;
   
    margin-top:50px;
}

.item-info-negocio {
    
    margin-right: 25px;
    margin-left: 120px;
    margin-top:70px;
}

.item-imagen-negocio {
    margin-left: 50px;
    margin-right: 80px;
    margin-top: 80px;
    margin-bottom: 80px;
    border-radius: 5%;
    background: url(../ArchivosLectura/imagenes-index/chica.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: drop-shadow(0 10px 20px rgb(72 0 255));
    max-height:500px;
}

.container-info-negocio-dos {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 700px;
    margin-top: 50px;
    
}

.item-imagen-negocio-dos {
    margin-right: 25px;
    margin-left: 120px;
    margin-top: 70px;
    border-radius: 5%;
    background: url(../ArchivosLectura/imagenes-index/graffiti.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    filter: drop-shadow(0 10px 20px rgb(182 255 0));
    max-height: 500px;
    
}

.item-info-negocio-dos {
    
    margin-left: 50px;
    margin-right: 80px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.fondo-planes {
    height: 700px;
    border: 1px solid;
    background: rgba(0, 0, 0, 0.4) url(../ArchivosLectura/imagenes-index/trees.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}

#regis:hover{
    background:white;
}

#contra:hover {
    background: white;
}