
<div class="header-info">
   
    <div class="container-header-spiritual">
        <a href="#" style="text-decoration:none; color:darkgray"><h2>Haz parte de Spiritual Art</h2></a>
    </div>
    <div class="container-logo-header">
        <img src="~/ArchivosLectura/imagenes-index/logo.jpeg" class="img-fluid"  />
    </div>
</div>

<div class="container-info-general">
    <div class="container-general-uno">
        <h2>¿Qué es Spiritual Art?</h2>
        <p>
            Spiritual Art es una comunidad formada por artistas de todo tipo de estilos y tendencias, cuyo objetivo es exponer y vender sus trabajos, a todos los amantes del Arte.
        </p>
        <h4 style="color:brown">Un espacio para los artistas</h4>
        <p style="color:gray">
            En Spiritual Art podras tener ese espacio que buscabas para dar a conocer tu trabajo.
        </p>

        <h4 style="color:brown">Un punto de encuentro para artistas y compradores de arte</h4>
        <p style="color:gray">
            Spiritual Art te introduce en el mercado del arte, artistas y compradores sin intermediarios.
        </p>

        <h4 style="color:brown">Una oportunidad para artistas que estén iniciando</h4>
        <p style="color:gray">
            Todos necesitamos nuestra primera oportunidad, Spiritual Art te la da. Sólo tienes que aprovechar todo lo que ponemos a tu alcance, con un buen trabajo.
        </p>
        <h4 style="color:brown">Tú mismo puedes crear tu exposición</h4>
        <p style="color:gray">
            Decidete a crear la exposicion que TÚ quieras,TÚ eliges que publicar.
        </p>

        <div class="btn-expo">

            <a href="#">
                <input type="button" value="Regístrate y sube tus obras" class="btn-danger">
            </a>
        </div>
    </div>

    <div class="container-general-dos">
        <h2>¿Porqué surge Spiritual Art?</h2>
        <p>
            Spiritual Art surge como un proyecto que busca ayudar la economía de los artistas plásticos de todo tipo de estilos y formas.
            Ayudando a pequeños negocios que quieran empezar como valor extra y qué mejor idea que con sus creaciones.
        </p>
        <p>
            Queremos seguir creciendo y expandir este proyecto en todo el territorio colombiano y por qué no a nivel internacional, por eso
            invitamos a cualquier persona interesada a apoyarnos.
        </p>
        
    </div>
</div>
<hr />
<h1 style="text-align:center">Categorías principales de Spiritual art</h1>
<div class="body-categorias">

    <div class="card-img-pintura">


    </div>

    <div class="text-pintura">
        <h3 style="color:bisque">Pintura</h3><br />
        

        <p style="color:bisque">
            La pintura es el arte de la representación gráfica utilizando pigmentos mezclados con otras sustancias aglutinantes, orgánicas o sintéticas. En este arte se emplean técnicas de pintura, conocimientos de teoría del color y de composición pictórica, y el dibujo. La práctica del arte de pintar, consiste en aplicar, en una superficie determinada una hoja de papel, un lienzo, un muro, una madera, fragmento de tejido, etc.
        </p>
       
    </div>

    <div class="card-img-lapiz">


    </div>

    <div class="text-pintura">
        <h3 style="color:bisque">Dibujo a lápiz</h3><br />
        <p style="color:bisque">
            El dibujo a lápiz es una técnica de dibujo tradicional que a los artistas les gusta usar para bocetos y borradores y, más raramente, para dibujos detallados. La aplicación de pintura gris brillante es típica.
            Los dibujos a lápiz detallados requieren mucha mano de obra porque se dibujan línea por línea con la punta del lápiz. A pesar de su especial efecto pictórico, rara vez se ejecutan. El dibujo a lápiz se utiliza principalmente en diseño gráfico o como técnica mixta con acuarelas.
        </p>
    </div>

    <div class="card-img-foto">


    </div>

    <div class="text-pintura">
        <h3 style="color:bisque">Fotografía</h3><br />
        <p style="color:bisque">
           El arte le pertenece a quien tiene una inteligencia libre, vemos que la fotografía es una representación artística porque expresa una visión personal La fotografía tiene que ver con el hecho de tomar imágenes a través de una máquina y de expresar las ideas detrás de la imagen.
        </p>
    </div>
    <div class="card-img-escultura">


    </div>

    <div class="text-pintura">
        <h3 style="color:bisque">Escultura</h3><br />
        <p style="color:bisque">
            Se llama escultura al arte de modelar el barro, tallar en piedra, madera y otros materiales. También se denomina escultura a la obra elaborada por un escultor.​Es una de las Bellas Artes en la cual el escultor se expresa creando volúmenes y conformando espacios.
        </p>

    </div>
    <div class="card-img-moderno">


    </div>

    <div class="text-pintura">
        <h3 style="color:bisque">Arte moderna</h3><br />
        <p style="color:bisque">
            Arte moderno es un término propio de distintos ámbitos del mundo del arte, que pretende diferenciar que se identificaría con un determinado concepto de modernidad por oposición al denominado arte académico. Este representaría la tradición; mientras que el arte moderno representaría la experimentación.​
        </p>
    </div>
</div><br /><br />

<div class="info-artistas">
    <h3 class="titulo-info">¿Quieres hacer parte de la comunidad SpiritualArt?</h3>
    <p class="parrafo-info-artistas">Haz parte de nuestra comunidad y expande tu creatividad.</p>
    <div class="btn-expo">

        <a href="#">
            <input type="button" value="Ver información" class="btn-danger">
        </a>
    </div>
</div>

