
<div class="header-info-negocio">

    <div class="container-header-spiritual">
        <a href="#" style="text-decoration:none; color:indigo"><h2>¿Necesitas un lugar donde exponer?</h2></a>
    </div>
    <div class="container-logo-header">
        <img src="~/ArchivosLectura/imagenes-index/logo.jpeg" class="img-fluid" />
    </div>
</div>

<div class="container-info-negocio">
    <div class="item-info-negocio">
        <h1>¿Deseas hacer conocer tu creatividad?</h1>
        <h3 style="color:darkgray">Nuestra comunidad Spiritual Art te ofrece el espacio que necesitas.</h3><br />

        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="color:brown">
                        Autonomía absoluta para gestionar tu portafolio
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>En Spiritual Art podrás tener tu espacio personal para exponer.</strong> Haz fotografías de calidad de tus obras y así cuando las subas a tu perfil los usuarios podrán visualizarlas de forma adecuada.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="color:brown">
                        Visibilidad internacional
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>En Spiritual Art la prioridad es tu trabajo, tus creaciones, tus obras.</strong> Queremos darlas a conocer, promocionarlas y hacerte un hueco en el mercado del Arte. Nuestro portal te lo pone muy fácil. Todos los recursos están dirigidos a derribar todas esas barreras invisibles entre artistas, galerías y el público.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="color:brown">
                        Consolidar a nuestros artistas para triunfar a nivel nacional e internacional
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>En Spiritual Art te ofrecemos una propuesta diferente, un proyecto de futuro.</strong> En Spiritual Art, tanto profesionales del sector, como artistas que no han tenido la oportunidad de que su obra sea reconocida y valorada, pueden compartir su trabajo. Spiritual Art abrirá las puertas a tus futuros compradores.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="item-imagen-negocio">

    </div>
</div>

<div class="container-info-negocio-dos">
    <div class="item-imagen-negocio-dos">

    </div>
    <div class="item-info-negocio-dos">
        <h1>¿Qué te ofrece Spiritual Art?</h1>
        <h3 style="color:darkgray">Tu exposición virtual personalizada</h3><br />
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="color:brown">
                        Una plataforma moderna donde subir tus trabajos de forma fácil y rápida
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>Galeria Spiritual Art es una plataforma pensada para el arte contemporaneo y para la gente de hoy.</strong> 
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="color:brown">
                        Apoyo y promoción de tus trabajos en las redes sociales
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>Las redes sociales son fundamentales hoy día, abren un campo inmenso de posibilidades para la exposición de todas las obras.</strong> 
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="color:brown">
                        Expandir tu arte con más comunidades
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>En Spiritual Art te simplificamos trámites, para que consigas el contacto directo de tus compradores</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="fondo-planes">

    <h1 style="text-align:center; color:bisque">¿Cuánto cuesta exponer en Spiritual Art?</h1>
    <h3 style="text-align:center; color:bisque">
        En Spiritual Art queremos acomodar tu capacidad económica
        para que puedas expandir tu creatividad, usamos los precios indicados para que puedas comenzar. Buena vibra!
    </h3> 
    
    <div class="container3">



        <div class="card3">
            <div class="left-column background2-left-column">
                <h6>Plan</h6>
                <h2>Premium</h2>
                <i><img src="~/ArchivosLectura/imagenes-index/logo.jpeg" alt="Alternate Text" width="120" height="120" /></i>
            </div>

            <div class="right-column">
                <div>
                    <h4>Con un precio de:</h4>
                    <h6>$90.000</h6>
                </div>
                <h2>Por 1 año</h2>
                <p>Exposición de hasta 30 obras</p>
                <p style="color:darkorchid">Visibildad con preferencia</p>

                <button class="button2 background2-left-column" onclick="location.href='@Url.Action("RegistrarArtista", "Principal")'">Contratar</button>
            </div>

        </div>

        <div class="card3">
            <div class="left-column background1-left-column">
                <h6>Plan</h6>
                <h2>Básico</h2>
                <i><img src="~/ArchivosLectura/imagenes-index/logo.jpeg" alt="Alternate Text" width="120" height="120" /></i>
            </div>

            <div class="right-column">
                <div>
                    <h4>Con un precio de:</h4>
                    <h6>$30.000</h6>
                </div>
                <h2>Por 6 meses</h2>
                <p>Exposición de hasta 15 obras</p>
                <p style="color:darkorchid">Visibildad intermedia</p>

                <button class="button2 background1-left-column" onclick="location.href='@Url.Action("RegistrarArtista", "Principal")'">Contratar</button>
            </div>

        </div>

        <div class="card3">
            <div class="left-column background3-left-column">
                <h6>Plan</h6>
                <h2>Gratuito</h2>
                <i><img src="~/ArchivosLectura/imagenes-index/logo.jpeg" alt="Alternate Text" width="120" height="120" /></i>
            </div>

            <div class="right-column">
                <div>
                    <h4>Con un precio de:</h4>
                    <h6>$0</h6>
                </div>
                <h2>Por 2 meses</h2>
                <p>Exposición de hasta 7 obras</p>
                <p style="color:darkorchid">Poca visibilidad</p>

                <button class="button2 background3-left-column" onclick="location.href='@Url.Action("RegistrarArtista", "Principal")'">Contratar</button>

            </div>

        </div>
    </div>
</div><br /><br />

<div class="info-artistas">
    <h3 class="titulo-info">Mira los artistas que hacen parte de nuestra comunidad</h3>
    <p class="parrafo-info-artistas">Conoce otros talentosos como tú y haz parte de nosotros.</p>
    <div class="btn-expo">

        <a href="@Url.Action("Exposicion", "Principal")">
            <input type="button" value="Ver artistas" class="btn-success">
        </a>
    </div>
</div>

